
html, body{
    height:100%;
}

td{
    border: 1px solid #9ef5d5;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
}
table{
    margin: 0 auto;
}

#application{
    text-align: center;
    position: relative;
    transform: translateY(-50%);
    top: 50%;
}
h1{
    text-align: center
}
    

    
